<uib-accordion>
    <uib-accordion-group ng-if="(item.favorite && favorite) || !favorite"
            panel-class="bootstrap-panel accordion-panel panel-default panel with-scroll
                                {{item.favorite ? 'panel-success' : ''}}"
            is-open="item.open"
            ng-repeat="item in vm.data.breedList | filter:vm.filter.search">
        <uib-accordion-heading>
            <i class="fa ion-star" ng-if="item.favorite"></i>
            <strong>{{item.breed.name}}</strong>
        </uib-accordion-heading>

        <div ba-panel ba-panel-class="with-scroll breed-panel">
            <div class="row-fluid">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="section-block">
                        <div class="row">
                            <div style="position: fixed; z-index:1000;">
                                <div ng-if="!item.favorite">
                                    <button type="button" class="btn btn-success btn-with-icon"
                                            ng-click="vm.fn.fav(item);">
                                        <i class="ion-android-star"></i> Favorite
                                    </button>
                                </div>
                                <div ng-if="item.favorite">
                                    <button type="button" class="btn btn-danger btn-with-icon"
                                            ng-click="vm.fn.unfav(item);">
                                        <i class="ion-trash-b"></i> Favorite
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <section id="photos">
                                    <a ng-click="vm.fn.openImg($index)" style="cursor: pointer;"
                                       ng-repeat="image in vm.fn.loadImg(favorite)">
                                        <img ng-src="{{image}}" />
                                    </a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>